{% extends "layout.html" %}
{% block title %}

{% endblock %}
{% block body %}

<div >
<div >
<div >
<div >
  <form action="/change" method="post">
    <div >
      <h2 > Change password</h2>
      <label for="email">Email</label>
      <input type="email" name="email"  style="margin-bottom:15px;">
      <label for="password"> Last Password</label>
      <input type="password" name="password" >
      <label for="new_password"> New Password</label>
      <input type="password" name="new_password">

      <button  type="submit">Change Password</button>
      <a  href="{{url_for('register')}}"> Go Back</a>
      {% if message is not none %}
      <div > {{message}}</div>
      {%endif %}

    </div>
  </form>
</div>


</div>
</div>
</div>


{% endblock %}
